* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

.slider-frame {
    width: 1080px;
    height: 1080;
    margin: 50px auto 0;
    overflow: hidden;

    animation: slide 60s infinite alternate ease-in-out
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    4% {margin-left: 0%;}

    8% {margin-left: 0%;}
    12% {margin-left: 0%;}

    16% {margin-left: 0%;}
    20% {margin-left: 0%;}
    
    24% {margin-left: 0%;}
    28% {margin-left: 0%;}
    
    32% {margin-left: 0%;}
    36% {margin-left: 0%;}
    
    40% {margin-left: 0%;}
    44% {margin-left: 0%;}
    
    48% {margin-left: 0%;}
    52% {margin-left: 0%;}
    
    56% {margin-left: 0%;}
    60% {margin-left: 0%;}
    
    64% {margin-left: 0%;}
    68% {margin-left: 0%;}
    
    72% {margin-left: 0%;}
    76% {margin-left: 0%;}
    
    80% {margin-left: 0%;}
    84% {margin-left: 0%;}
    
    88% {margin-left: 0%;}
    92% {margin-left: 0%;}
    
}